<nav class="p-3 navbar" >
  <ul class="nav nav-pills">
    <li *ngFor="let action of actions">
      <button
        routerLink="{{action.routes}}"
        (click)="setCurrentAction(action)"
        [class]="action == currentAction ? 'btn btn-success ms-1' : 'btn btn-outline-success ms-1'"
      >
        {{action.title}}
        <i class="bi {{action.icon}}"></i>
      </button>
    </li>
    <li *ngIf="state.status=='LOADING'">
      <div class="spinner-border text-primary ms-3" role="status" >
      </div>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li *ngIf="authService.authState.isAuthenticated">
        {{authService.authState.username}}
        <button (click)="logout()" class="btn btn-success ">logout</button>
    </li>
    <li *ngIf="!authService.authState.isAuthenticated">
      <button routerLink="/login" class="btn btn-success ">login</button>
  </ul>
</nav>
